:host /deep/ .widgets {
    .data-table-container {
        width: 100%;
        .panel-heading {
            margin-top: 25px;
        }
    }
}

.bottom-marg {
    margin-bottom: 10px;
}

.selectdropdown {
    margin-bottom: 10px;
}

.topset {
    margin-top: 10px;
}